.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #2e2e2e;
    text-align: center;
    vertical-align: center;
}
#showalluser{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.oneuserInall p, .oneuserInall {
    margin: 0;
    padding: 0;
}
.oneuserInall p .login{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #031f2d;
    text-decoration: overline;
}
.oneuserInall .gmail{
    margin: 0;
    padding: 0;
    font-style: italic;
    color: #003549;
}
.oneuserInall{
    padding: 0;
    margin: 0;
}
.footer .container {
    padding: 5px 0 5px 0;
    width: 100%;
}

.footer .container a {
    margin-right: 15px;
}

.footer .text-center {
    background-color: rgb(204, 218, 255);
    padding: 5px;
}

.footer .text-center a {
    color: #1b1b1b;
    text-decoration: none;
}

.footer .text-center a:hover {
    font-weight: bold;
}

#login, #register, #workpage {
    width: 50%;
    margin-left: 25%;
    margin-top: 10vh;
    margin-bottom: 50px;
}

.right {
    float: right;
}

.text {
    color: rgba(64, 64, 64, 0.78);
    vertical-align: center;
    margin-top: 5px;
    margin-right: 5px;
}

#randomer {
    height: 30vh;
}
